@import '~scss/variables.scss';
:host{
    color: $color-light;
}
.wrapper{
    background-image: url('../../../assets/images/whatwedid.jpg');
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.rowContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}
.rowContainer img{
    
}

.card{
    flex: 1 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    background: transparent;
    border: 0px;
    width: 400px;
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    z-index: 5;
}
.card img{
    width: 100px;
    height: 100px;
}