<div class="wrapper">
  <h2 class="contentHeader">What have we done so far</h2>
  <div class="rowContainer">
    <div class="card">
      Students
      <img src="assets/images/icon_students.png">
      3500
    </div>
    <div class="card">
      Batches
      <img src="assets/images/icon_batches.png">      
      300
    </div>
  </div>
  <div class="rowContainer">
    <img src="assets/images/icon_center.png"/>
  </div>
  <div class="rowContainer">
    <div class="card">
      Corporate Training
      <img src="assets/images/icon_training.png">            
      30+
    </div>
    <div class="card">
      Projects
      <img src="assets/images/icon_projects.png">            
      10+
    </div>
  </div>
</div>