
<ng-template #templateRef let-dialogRef="dialogRef" let-ctx>
    <div>
        <div class="modal-header">
            <button class="btn btn-primary" (click)="dialogRef.close(true)"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
        <div class="modal-body">
            <div class="contactForm">
                <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                    <div class="form-group">
                      <input type="text" placeholder="Name" class="form-control" name="name" ngModel required #name="ngModel">
                    </div>
                
                    <div class="row">
                      <div class="col col-md-6">
                          <div class="form-group">
                            <input type="email" placeholder="Email" class="form-control" name="email" email="true" ngModel #email="ngModel" required>
                          </div>
                      </div>
                      <div class="col col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Phone No" class="form-control" name="phoneNo" ngModel>
                        </div>
                      </div>
                    </div>
            
                    <div class="form-group">
                        <input type="text" placeholder="Subject" class="form-control" name="subject" ngModel #subject="ngModel" required>
                    </div>
                    
                    <div class="form-group">
                        <textarea style="resize:none" placeholder="Message" class="form-control" rows="3" name="message" ngModel #message="ngModel" required></textarea>
                    </div>
                    
                    <re-captcha style="width:100%" #captchaRef="reCaptcha" (resolved)="resolved($event)" siteKey="6LdVXDoUAAAAAFgko3c9x3JzgpSn9j4GGhZiqg7V" required></re-captcha>
                    <button type="submit" [disabled]="!recaptchaDone || contactForm.invalid" class="btn btn-success">Send</button>
                
                </form>
              </div>
        </div>
    </div>
  </ng-template>