@import '~scss/variables.scss';
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.footer{
    margin-top: 30px;
    z-index: 20;
}
.socialIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a{
        color: $color-dark;
    }
}
.links{
    ul {
        list-style-type: none;   
    }
    a{
        color: $color-dark;
    }
}