@import "../../scss/variables";

:host{
  color: $color-light;
  font-size: 1.2em;
}


.aboutusContainer{
  display: flex;
  flex-direction: column;
  background-color: $color-primary;
  color: $color-dark;
  margin-top: 50px;
}

.header{
  font-size: 1.5em;
  text-align: center;
  margin-top: 15px;
  width: 85%;
  margin-left: 10px;
}

.aboutusContainer .content{
  padding: 0px 10px 0px 10px;
  margin: 15px;
  width: 85%;
}