@import '~scss/variables.scss';
.section{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: $color-gray;
}
.sectionHeader{
    span{
        font-size: 1.2em;
    }
    i{
        float: right;
    }
}