<div class="card" (click)="btnMoreDetails(course.name)">
  <div class="card-block">
    <h4 class="card-title">{{course.name}}</h4>
  </div>
  <img class="card-img-top" [src]="course.img" alt="Card image cap">
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  <div class="card-block">
    <div class="detailsRow">
      <h5 class="hours">{{course.duration}} Hours</h5>
      <h5 class="price"><b>{{course.price | currency:'INR':true:'4.0-0'}}</b></h5>
    </div>
    <!-- <div class="rating">
      <star-rating rating="3" maxRating="5" maxStars="5"></star-rating>
    </div> -->
  </div>
  <div class="card-footer">
    <button class="joinBtn btn" (click)="btnMoreDetails(course.name)">More</button>
  </div>
</div>