@import '~scss/variables.scss';

.contactPage{
    background-color: $color-gray;
    color: $color-dark;
    padding: 15px;
    margin-top: 50px;
}

.contactContainer{
    display: flex;
    flex-direction: row;
}

input[required].ng-dirty.ng-invalid{
    border-left: 5px solid red;
}

input[required].ng-dirty.ng-valid{
    border-left: 5px solid green;
}
.contactForm{
    flex: 1 1;
}
.gmaps{
    width: 50%;
    padding: 30px;
}

.highlight{
    color: $color-dark;

    a{
        color: $color-dark;
        text-decoration: underline; 
    }
}
.address{
    padding: 20px;
    align-self: center;
    flex: 1 1;
    padding-left: 30px;
}

.address span{
    font-size: 1.5em;
    text-align: center;
}
