<nav class="navbar">
  <div class="contactInfo">
    <div>
      <i class="fa fa-phone-square" aria-hidden="true"></i><span>91 9886096090</span>
    </div>
    <div>
        <i class="fa fa-envelope" aria-hidden="true"></i><span><a href="mailto:info@completeanalytics.in">info@completeanalytics.in</a></span>
    </div>
  </div>
  <div class="container-fluid myNav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleCollapse()">
        <span class="sr-only">Toggle navigation</span>
        <span *ngIf="!show" class="glyphicon glyphicon-menu-hamburger"></span>
        <span *ngIf="show" class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    
    <div class="brand-centered">
      <a class="navbar-brand">
        <span class="brandText">Complete Analytics</span>
        <!-- <img src="assets/images/completeAnalytics_horizontalLogo.png" alt="CompleteAnalytics"> -->
      </a>
    </div>
    
    <div class="navbar-collapse collapse" [class.show]="show">
      <ul class="nav navbar-nav navbar-left">
        <li><a [routerLink]="['/home']" [routerLinkActive]="['active']" (click)="closeMenu()">Home</a></li>
        <li><a [routerLink]="['/courses']" [routerLinkActive]="['active']" (click)="closeMenu()">Courses</a></li>
        <li><a [routerLink]="['/about']" [routerLinkActive]="['active']" (click)="closeMenu()">About Us</a></li>
        <li><a [routerLink]="['/contact']" [routerLinkActive]="['active']" (click)="closeMenu()">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/corporate-training']" [routerLinkActive]="['active']" (click)="closeMenu()">Corporate Training</a></li>
        <li><a [routerLink]="['/employer']" [routerLinkActive]="['active']" (click)="closeMenu()">Hire</a></li>
        <li><a [routerLink]="['/become-instructor']" [routerLinkActive]="['active']" (click)="closeMenu()">Become an Instructor</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
<nav class="recentBatches">
  <ul class="nav">
    <li><a [routerLink]="['/upcoming-batches']"><b>Upcoming Batches</b></a></li>
  </ul>
</nav>