@import '~scss/variables.scss';
:host /deep/{
    tabs{
        margin-top: 20px;
    }
    tabs .pane{
        background-color: $color-light;
    }
    tabs>ul{
        width: 100%;
        background-color: #ccc;
        border-radius: 10px;
        height: 40px;
    }
    tabs>ul>li{
        margin-bottom: 0px;
    }
    tabs>ul>li>a{
        border: 0px;
        margin-right: 0px;
        color: $color-dark;
    }
    tabs>ul>li>a>i.glyphicon{
        margin-right: 5px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        background-color: $color-lightbg;
        color: $color-dark;
        border-radius: 5px;
        border: 0px;
    }
    .btn-download{
        background-color: $color-darkbg;
        color: $color-light;
        font-weight: bold;
        height: 40px;
    }
    .btn-download i.glyphicon{
        margin-left: 3px;
        font-size: 1.3em;
    }

    div.ngucarousel-items{
        display: flex;
    }
    ngu-tile{
        flex: 1 0 auto;
        box-shadow: 1px 1px 5px;
    }
    .testimonyContainer{
        height: 100%;
    }
}

.courseDetailPage{
    margin-top: 50px;
}
.allContent{
  display: flex;
}

.content{
    width: 80%;
    display: flex;
    flex-direction: column;
}
testimony{
    width: 100%;
}

.followContent{
    width: 20%;
    background-color: #ccc;
    color: $color-dark;
    position: fixed;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.courseDetails{
    width: 100%;
    text-align: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
}
.courseDetails table tr{
    border-bottom: 1px solid gray;
}
.courseDetails table tr td{
    padding: 10px;
}
.btn-join{
    width: 100%;
    background-color: $color-darkbg;
    color: $color-light;
}

.imgContent{
    position: absolute;
    padding: 30px;
    top: 15%;
    display: flex;
    flex-direction: column;
    color: $color-light;
}
.imgContent .contentHeader{
    font-size: 2.5em;
}

.imgContent button{
    margin-top: 40px;
    width: 50%;
}
.imgContent button .glyphicon{
    top: 5px;
    margin-left: 3px;
}
.imgBanner img{
    filter: brightness(40%);
}
.courseReview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    testimony-tile{
        margin-left: 10px;
        margin-right: 10px;
    }
}

input[required].ng-dirty.ng-invalid{
    border-left: 5px solid red;
}

input[required].ng-dirty.ng-valid{
    border-left: 5px solid green;
}