<div #detailsPage class="courseDetailPage">
  <div class="container allContent">
    <div class="content">
        <div class="imgBanner">
          <img src="assets/images/courses_bg.jpg" width="100%" height="400">
          <div *ngIf="course" class="imgContent">
            <span class="contentHeader">{{course.name}}</span>
            <span class="contentDetail"><h3 class="price"><b>Price: {{course.price | currency:'INR':true:'4.0-0'}}</b> <span style="font-size: 14px">+ service tax</span></h3></span>
          </div> 
        </div>
      
        <tabs (tabChangeEmitter)="tabChanged($event)" (downloadEvent)="downloadPDFBtn()">
          <tab tabTitle="Course Outline" tabIcon="th-list">
            <div  *ngIf="currentContent">
              <course-section *ngFor="let section of currentContent" [sectionHeader]="section.heading" [sectionContent]="section.list" (sectionChanged)="sectionChanged()"></course-section>
            </div>
          </tab>
          <tab tabTitle="Case Study" tabIcon="education">
            <div *ngIf="currentContent">
                <course-section *ngFor="let section of currentContent" [sectionHeader]="section.heading" [sectionContent]="section.list" (sectionChanged)="sectionChanged()"></course-section>
            </div>
          </tab>
          <tab tabTitle="Benefits" tabIcon="thumbs-up">
            <div *ngIf="currentContent">
                <course-section *ngFor="let section of currentContent" [sectionHeader]="section.heading" [sectionContent]="section.list" (sectionChanged)="sectionChanged()"></course-section>
            </div>
          </tab>
        </tabs>
        <div *ngIf="reviewData && reviewData.length>0">
          <h2 class="contentHeader">Review for this course</h2>
          <div class="courseReview">
            <testimony-tile *ngFor="let data of reviewData" [data]="data"></testimony-tile>
          </div>
        </div>
      </div>
    <div #followContent class="followContent" [style.marginTop.px]="followContentMarginTop" *ngIf="course">
      <div class="courseDetails">
        <h3><b>Course Details</b></h3>

        <table>
          <tr><td>Course Duration</td><td>{{course.duration}} Hours</td></tr>
          <tr><td>Course Classes</td><td>{{course.classes}} Weeks</td></tr>
          <tr><td>Tools</td><td>{{course.tools}}</td></tr>
          <tr><td>Learning Mode</td><td>{{course.learning_mode}}</td></tr>

        </table>
        <br/>
        <button (click)="joinButton()" class="btn btn-join">Join</button>
        
      </div>
    </div>
  </div>
</div>
<div *ngIf="course">
  <contact-popup #downloadPopup type="download_PDF" [courseName]="course.name"></contact-popup>
  <contact-popup #joinPopup type="join_course" [courseName]="course.name"></contact-popup>
</div>