<div class="courseDetailPage">
  <div class="container allContent">
    <div class="content">
        <div class="imgBanner">
          <img src="assets/images/cover2.png" width="100%" height="400">
          <div *ngIf="course" class="imgContent">
            <span class="contentHeader">{{course.name}}</span>
            <span class="contentDetail"><h3 class="price"><b>Price: {{course.price | currency:'INR':true:'4.0-0'}}</b></h3></span>
          </div> 
        </div>
      
        <tabs (tabChangeEmitter)="tabChanged($event)" (downloadEvent)="downloadPDFBtn()">
          <tab tabTitle="Course Outline" tabIcon="th-list">
            <div  *ngIf="currentContent">
              <course-section *ngFor="let section of currentContent" [sectionHeader]="section.heading" [sectionContent]="section.list"></course-section>
            </div>
          </tab>
          <tab tabTitle="Case Study" tabIcon="education">
            <div *ngIf="currentContent">
                <course-section *ngFor="let section of currentContent" [sectionHeader]="section.heading" [sectionContent]="section.list"></course-section>
            </div>
          </tab>
          <tab tabTitle="Benefits" tabIcon="thumbs-up">
            <div *ngIf="currentContent">
                <course-section *ngFor="let section of currentContent" [sectionHeader]="section.heading" [sectionContent]="section.list"></course-section>
            </div>
          </tab>
        </tabs>
        <h2 class="contentHeader">Review for this course</h2>
        <div class="courseReview">
          <testimony-tile *ngFor="let data of reviewData" [data]="data"></testimony-tile>
        </div>
      </div>
    <div class="followContent" *ngIf="course">
      <div class="courseDetails">
        <span><b>Course Details</b></span>

        <table>
          <tr><td>Course Duration</td><td>{{course.duration}} Hours</td></tr>
          <tr><td>Course Classes</td><td>{{course.classes}} Weeks</td></tr>
          <tr><td>Tools</td><td>{{course.tools}}</td></tr>
          <tr><td>Learning Mode</td><td>{{course.learning_mode}}</td></tr>

        </table>
        <br/><br/>
        <button class="btn btn-join">Join</button>
      </div>
    </div>
  </div>
</div>

<ng-template #templateRef let-dialogRef="dialogRef" let-ctx>
  <div>
      <div class="modal-header">
          <button class="btn btn-primary" (click)="dialogRef.close(true)"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <div class="modal-body">
          <div class="employeeForm">
              <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
                  <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="text" class="form-control" name="name" ngModel required #name="ngModel">
                  </div>
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                      Name is required.
                    </div>
                  </div>
              
                  <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" class="form-control" name="email" email="true" ngModel #email="ngModel" required>
                  </div>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors.email">
                      Please enter a valid email.
                    </div>
                  </div>
          
                  <div class="form-group">
                      <label for="name">Phone No</label>
                      <input type="text" class="form-control" name="phoneNo" ngModel>
                  </div>
                  
          
                  <div class="form-group">
                      <label for="name">Subject*</label>
                      <input type="text" class="form-control" name="subject" ngModel #subject="ngModel" required>
                  </div>
                  <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="alert alert-danger">
                    <div *ngIf="subject.errors.required">
                       Subject is required.
                    </div>
                  </div>
          
                  <div class="form-group">
                      <label for="name">Message*</label>
                      <textarea style="resize:none" class="form-control" rows="3" name="message" ngModel #message="ngModel" required></textarea>
                  </div>
                  <div *ngIf="message.invalid && (message.dirty || message.touched)" class="alert alert-danger">
                    <div *ngIf="message.errors.required">
                      Message is required.
                    </div>
                  </div>
          
                  <re-captcha style="width:100%" #captchaRef="reCaptcha" (resolved)="resolved($event)" siteKey="6Lc3NTcUAAAAAEbbUbuzavH2Gni0yYJ0Fsvs1HbE" required></re-captcha>
              
                  <button type="submit" [disabled]="!recaptchaDone || employeeForm.invalid" class="btn btn-success">Send</button>
              
              </form>
            </div>
      </div>
  </div>
</ng-template>