@import '~scss/variables';

.bannerimage{
  padding: 20px;
  color: $color-light;
  background-color: $color-primary;
}

.btn-cta{
  position: relative;
  left: 70%;
  background-color: $color-attention;
  color: $color-dark;
  width: 150px;
  font-size: 1.2em;
}