// /* Colors */
// $color-primary: #6C648B;
// $color-secondary: #6BBAA7;
// $color-attention: #FBA100;
// $color-background: #B6A19E;
$color-gray: #fafafa;
$color-lightbg: #6BBAA7;
$color-darkbg: #012252;
$color-light: #f4f4f4;
$color-dark: #222;