<div class="homepage">
  <div class="carousel">
      <carousel></carousel>
  </div>
  
  <div class="courselist">
    <h3 class="contentHeader">Popular Courses</h3>
    <course-list title="Popular Courses" [courses]="popularCourses"></course-list>
    <div style="display:flex;justify-content: center;padding: 10px;"><button class="btn moreBtn" (click)="viewMoreCourses()">View More Courses <span class="glyphicon glyphicon-circle-arrow-right"></span></button></div>
  </div>

  <div class="whatwedid">
    <whatwedid></whatwedid>
  </div>

  <div class="companies">
    <companies></companies>
  </div>

  <div class="testimonies">
    <testimony page="homePage"></testimony>
  </div>
</div>