@import "../../scss/variables";

.homepage{
  margin-top: 50px;
  background: #eee;
  
}
.coursel{
  background: #ccc;
}
.whatwedid{
  background: #ccc;
  padding: 20px;
}
.companies{
  padding: 20px;
}
.testimonies{
  background: #ccc;  
}