@import "../../scss/variables";

.homepage{
  margin-top: 50px;
}
.courselist{
  background: linear-gradient(0deg, $color-attention,$color-primary) no-repeat;
}

.whatwedid{
  background: $color-primary;
}