<div class="homepage">
  <div class="carousel" ngsReveal>
      <carousel></carousel>
  </div>
  
  <div class="courselist" ngsReveal>
    <h3 class="contentHeader">Popular Courses</h3>
    <course-list title="Popular Courses" [courses]="popularCourses"></course-list>
    <div style="display:flex;justify-content: center;padding: 10px;"><button class="btn moreBtn" (click)="viewMoreCourses()">View More Courses <span class="glyphicon glyphicon-circle-arrow-right"></span></button></div>
  </div>

  <div class="whatwedid" ngsReveal>
    <whatwedid></whatwedid>
  </div>

  <div class="companies" ngsReveal>
    <companies></companies>
  </div>

  <div class="testimonies" ngsReveal>
    <testimony page="homePage"></testimony>
  </div>
</div>